@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in.fade-in-anim {
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-in {
    opacity: 0;
}