@keyframes div-fadeIn {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bg-fadeIn {
    from {
        color: none;
    }
    to {
        background-color: rgb(75, 78, 164);
    }
}

.fade-in.fade-in-anim {
    animation: div-fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.fade-in {
    opacity: 0;
}

.bg-blue {
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bg-blue:hover {
    background-color: rgb(75, 78, 164);
    box-shadow: rgb(56, 42, 107) 0 0 2rem; 
    color: whitesmoke;
    transform: scale(1.1);
}