.text-sm-center {
    text-align: center !important;
}

.mb-sm-5 {
    margin-bottom: 5rem;
}

.col-sm > .btn {
    width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-sm-center {
        text-align: center !important;
    }

    .mb-sm-5 {
        margin-bottom: 5rem;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-sm-center {
        text-align: center !important;
    }

    .mb-sm-5 {
        margin-bottom: 5rem;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-sm-center {
        text-align: center !important;
    }

    .mb-sm-5 {
        margin-bottom: 5rem;
    }
}

* {
    font-family: 'Fira Sans', 'sans-serif' !important;
}

h1 {
    font-size: 5rem;
}

p.sub {
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgb(75, 77, 127);
}

body {
    background-color: rgb(18, 19, 42);
    color: whitesmoke;
}