* {
    font-family: 'Fira Sans', 'sans-serif' !important;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p, li {
    font-size: 1.5rem;
}

p.sub {
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgb(75, 77, 127);
}

body {
    background-color: rgb(18, 19, 42);
    color: whitesmoke;
}

.btn.btn-outline-secondary {
    border-color: rgb(75, 78, 164);
    color: rgb(75, 78, 164);
}

.btn.btn-outline-secondary:hover {
    background-color: rgb(75, 78, 164) !important;
    color: whitesmoke;
}

.btn.btn-outline-secondary:active {
    background-color: rgb(101, 105, 211) !important;
    color: whitesmoke;
}

.navbar.blur {
    backdrop-filter: blur(1rem);
    background-color: rgba(75, 75, 127, 0.1);
}

.bg-blue {
    border: rgb(75, 78, 164) .15rem solid;
    border-radius: 1rem;
    color: rgb(75, 78, 164);
}

.modal-content {
    background-color: rgb(18, 19, 42) !important;
    border: rgb(75, 78, 164) .15rem solid !important;
}